<nav class="navbar navbar-dark bg-primary mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">The Poll Mall</a>
        <div class="ml-auto">
            {% if user.is_authenticated %}
                <a class="btn btn-outline-light" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="btn btn-outline-light mr-2" href="{% url 'login' %}">Login</a>
                <a class="btn btn-outline-light" href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>
